<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h3>AuthAdmin Sign Up</h3>
            <form [formGroup]="form" (ngSubmit)="onSignupSubmit()">
                    <div class="form-group">
                        <label for="name" class="control-label required">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Full Name">
    
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label required">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
                       
                    </div>
                    <div class="form-group">
                            <label for="password" class="control-label required">Password</label>
                            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
                   
                    </div>
                    <button type="submit" class="btn rounded-btn" [disabled]="!form.valid">
                    Sign Up
                    </button>    
                  
                    <button class="btn rounded-btn" [routerLink]="['/login']">
                    Login
                    </button>    
            </form>
        </div>
    </div>
</div>
